*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-container{
    width: 90%;
    margin: 0 auto;
}

header{
    font-family: "Kanit", serif;
    font-optical-sizing: auto;
    position: relative;
}
.navBar ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
.navBar{
    box-shadow: 7px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    border-radius: 5px;
}

.sideBar{
    height: 100%;
    width: 180px;
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    right: 0;
    box-shadow: 7px 4px 6px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 12px;
    border-bottom-left-radius:12px ;
    justify-content: space-between;
    padding-left: 10px;
    overflow: hidden;
    background-color: black;

}

.sideNavigate li{
    margin:35px 30px 30px 0px;
    background-color:white;
    border: 1px ridge white;
    padding: 5px;
    width: 100%;
    border-radius: 12px
}
.toggle{
    display: flex;
     gap: 11px;
     align-items:center;
     color:#fff
}

.signIn{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 15px;
    color: white;
}
.sideBar ul{
    list-style: none;
}

.sideBar img{
    width: 30px;
}
.sideNavigate a:link{
    text-decoration: none;
    color: black;
}
.sideNavigate img{
    width: 30px;
}
.icons img{
        width: 32px;
        height: 32px;
        border-radius: 3px;
        background-color: rgb(247, 242, 242);
        box-shadow: 5px 5px 15px 5px rgba(0,0,0, 0.3);
        padding: 0.2rem;
    }
    
.navigate{
        display: flex;
       gap: 25px;
        align-items: center;

}
    .navigate li:hover{
        border-bottom: 2px ridge black;
    }    
.navigate a:link{
            text-decoration: none;
            color: black;
            font-size: 1.3rem;
        }
.icons{
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
.icons img:hover{
    background-color: rgb(49, 143, 49);
}
.logo{
    font-size: 1.4rem;
    display: flex;
    gap: 7px;
    align-items: center;

  font-family: "Playwrite GB S", serif;
  font-optical-sizing: auto;
}
.background{
    background: url(./Assets/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    border-radius: 10px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
}
main h1{
    font-size: 2.3rem;
}
.background p{
    text-align: center;
    width: 45%; 
    margin: 0 auto; 
   line-height: 1.6;
}
.addSearchBar{
    position: relative;    
    width: 100%; 
}

.created{
    width:50%;    
    position: absolute;
    right: 0;      
    padding: 10px;        
    font-size: 16px;       
    border: 1px solid #ccc; 
    border-radius: 5px;   
    margin-top: 10px;      
    box-sizing: border-box; 
    display: none;
    margin-right: 3rem;
    background-image: url('./Assets/search.png'); 
    background-position: 10px left; 
    background-repeat: no-repeat;
    padding-left: 30px; 
}

#ShowMenu{
    width: 30px;
    display: none;
}
.dHome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* @media */
@media (max-width: 576px){
    #ShowMenu{
        display:block;
    }
    .icons, .navigate{
        display: none;
    }
    .background{
        height: 50vh;
    }
    .background h1{
        font-size: 1.5rem;
        text-align: center;
    }
    .background p{
        line-height: 1.5;
        width: 90%;
    }
    #float{
        width: 90%;
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
       bottom: 70px;
    }
    #select{
        width: 100%;
        margin-bottom: 10px;
    }
    #select label{
        font-size: 0.8rem;
        width: 100%;
    }
    #floatSearch{
        width: 100%;
        justify-content: center;
        padding: 10px;
    }
    /* #float img{
        display: none;
    } */
     #float .img{
        display: none;
     }
}